.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.title-text {
    text-align: center;
    color: rgb(75, 75, 75);
    font-size: 54px;
    position: relative;
    margin-bottom: 50px;
}
.title-text::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

@media  only screen and (max-width:700px) {
    .services-container {
        grid-template-columns: 1fr;
    }
    .title-text {
        font-size: 40px;
    }
}